@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
 .horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link {
    color: #66BB6a; /* Main navigation colour **/
    padding: 22px 10px;
    line-height: 1;
    font-weight: 400;
}
/* Main color: #4CAF50 */
body {
    margin: 0;
    font-family: 'Roboto Slab', serif;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4CAF50;
    text-align: left;
    background-color: #fff;
}

input:not([type=checkbox])
{
    border: 1px solid #f0f0f0;
}
/* Footer */
.footer {
    background-color: #4CAF50;
    padding: 30px 1rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    font-size: 16px; /* calc(0.875rem - 0.05rem); */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}
/* Menu - title -- */
.horizontal-menu .bottom-navbar .page-navigation > .nav-item > .nav-link .menu-title {
  font-size: 1rem;
}
.footer a {
    color: #4CAF50;
    font-size: inherit;
}
ul.page-navigation li.nav-item a.nav-link .menu-title{
  font-size: 24px;
}
ul.page-navigation li.nav-item div.submenu ul.submenu-item li.nav-item a.nav-link{
  color: #000;
}
